<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Educational Course Generator</h5>
                <p>Generate personalized educational courses on any topic.</p>
            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="text-white" href="{{ url_for('courses_list') }}">My Courses</a></li>
                    <li><a class="text-white" href="{{ url_for('create_course_form') }}">Create Course</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>API</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="{{ url_for('api_docs') }}">API Documentation</a></li>
                    <li><a class="text-white" href="{{ url_for('health_check') }}">API Health Check</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; {{ current_year }} Educational Course Generator. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>